* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #bcece0;
    text-align: center;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 97%;
    width: 97%;
    display: flex;
    justify-content: center;
    justify-items: center;



}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box {
    height: 17vmin;
    width: 17vmin;
    border-radius: 2.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5, );
    font-size: 7vmin;
    color: blueviolet;
    background-color: lightsalmon;


}

#reset-btn {
    margin-top: 2%;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: blue;
    color: white;
    border-radius: 1rem;
    border: none;


}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: orangered;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: red;
    font-size: 6vmin;

}

.msg-container {
    height: 20vmin;
}

.hide {
    display: none;
}